h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#app{
    text-align: center;
    color:green;
}